---
Checks:          '-*,clang-diagnostic-*,clang-analyzer-*,-readability-*,concurrency-*,cppcoreguidelines-*'
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     none
User:            John
CheckOptions:
  -key=cppcoreguidelines-pro-bounds-pointer-arithmetic
   value=0
...
